In [2]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [3]:
class MLP(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(MLP, self).__init__()
        self.fc1 = nn.Linear(input_size, hidden_size)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(hidden_size, output_size)
        
    def forward(self, x):
        out = self.fc1(x)
        out = self.relu(out)
        out = self.fc2(out)
        return out

In [4]:
class CustomDataset(Dataset):
    def __init__(self, data, labels):
        self.data = data
        self.labels = labels
    
    def __len__(self):
        return len(self.data)
    
    def __getitem__(self, idx):
        sample = {
            'data': torch.FloatTensor(self.data[idx]),
            'label': torch.LongTensor([self.labels[idx]])
        }
        return sample

In [21]:
data = pd.read_csv('../ea-based-nn-ik-solver/datasets/6DoF-6R-Puma260/data_3DoF-3R.csv')

In [22]:
data

             x         y        t1        t2        t3
0    -0.662464  0.261404  1.559036  2.413440  0.277960
1     1.104271  1.384958  0.414786  0.965797  1.992017
2    -0.317833  0.062374  1.539674  2.816264  1.431398
3    -1.402043  0.973882  1.986449  1.096081  1.262032
4     1.822524  0.635239  0.070138  0.530486  0.923278
...        ...       ...       ...       ...       ...
9995 -0.209483  1.982495  1.595629  0.160886  0.089583
9996 -0.539031  0.578444  1.156573  2.328732  1.810257
9997 -1.566229  1.234747  2.399209  0.149565  0.496765
9998 -0.203919  1.430511  0.948987  1.526810  2.431233
9999 -0.609933  1.645851  1.425765  0.999857  0.219345

[10000 rows x 5 columns]

In [18]:
data = np.array(data)
joints = data[:,-3:]
pos = data

In [20]:
joints

array([[1.5590361 , 2.41344   , 0.27796006],
       [0.414786  , 0.9657973 , 1.992017  ],
       [1.5396739 , 2.8162644 , 1.4313976 ],
       ...,
       [2.399209  , 0.14956519, 0.49676487],
       [0.94898677, 1.5268102 , 2.4312332 ],
       [1.4257648 , 0.99985737, 0.21934521]])